<ul class="nav justify-content-center nav-bg-color text-white p-3">
    <li class="nav-item">
        <h3>ESTRATIFICAÇÃO DE RISCO EM SAÚDE MENTAL</h3>
    </li>
</ul>
<div class="container">
    <div class="row mt-3">
        <div class="col-12 col-md-5 col-xl-6">
            <div class="mb-3">
                <label for="nomeUsuario" class="form-label">Nome do usuário</label>
                <input type="text" class="form-control" id="nomeUsuario" [(ngModel)]="estratificacao.nomeUsuario" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="mb-3">
                <label for="dataNascimento" class="form-label">Data de nascimento</label>
                <input type="date" class="form-control" id="dataNascimento"
                    [(ngModel)]="estratificacao.dataNascimento" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <div class="mb-3">
                <label for="telefone" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="telefone" [(ngModel)]="estratificacao.telefone" />
            </div>
        </div>
        <div class="col-12 col-md-5 col-xl-6">
            <div class="mb-3">
                <label for="endereco" class="form-label">Endereço</label>
                <input type="text" class="form-control" id="endereco" [(ngModel)]="estratificacao.endereco" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
            <div class="mb-3">
                <label for="numero" class="form-label">Número</label>
                <input type="text" class="form-control" id="numero" [(ngModel)]="estratificacao.numero" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-xl-3">
            <div class="mb-3">
                <label for="complemento" class="form-label">Complemento</label>
                <input type="text" class="form-control" id="complemento" [(ngModel)]="estratificacao.complemento" />
            </div>
        </div>
        <div class="col-12" [ngClass]="{'col-xl-6': estratificacao.servicoSaude !== 'Outros', 'col-xl-2': estratificacao.servicoSaude === 'Outros'}">
            <label for="servicoSaude" class="form-label">Em caminho para</label>
            <select id="servicoSaude" class="form-select" [(ngModel)]="estratificacao.servicoSaude">
                <option value="" selected disabled>Selecione um</option>
                <option value="Psiquiatra">Psiquiatra</option>
                <option value="CAPS AD">CAPS AD</option>
                <option value="CAPS I">CAPS I</option>
                <option value="CAPS II">CAPS II</option>
                <option value="Psicologia">Psicologia</option>
                <option value="Outros">Outros</option>
            </select>
        </div>
        <div class="col-12 col-xl-4" [ngClass]="{'d-none': estratificacao.servicoSaude !== 'Outros', 'd-block': estratificacao.servicoSaude === 'Outros'}">
            <div class="mb-3">
                <label for="especifique" class="form-label">Especifique</label>
                <input type="text" class="form-control" id="especifique" [(ngModel)]="estratificacao.servicoSaudeEspecifico" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
            <div class="mb-3">
                <label for="municipio" class="form-label">Município</label>
                <input type="text" class="form-control" id="municipio" [(ngModel)]="estratificacao.municipio" />
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
            <div class="mb-3">
                <label for="cartaoSus" class="form-label">Cartão SUS</label>
                <input type="text" class="form-control" id="cartaoSus" [(ngModel)]="estratificacao.cartaoSus" />
            </div>
        </div>
        <div class="col-12">
            <div class="mb-3">
                <label for="nomeProfissional" class="form-label">Nome e inscrição profissional (profissional que
                    realizou atendimento)</label>
                <input type="text" class="form-control" id="nomeProfissional"
                    [(ngModel)]="estratificacao.nomeInscricaoProficional" />
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12">
            <div class="mb-3">
                <label for="informacoesAdicionais" class="form-label">Informações adicionais (Medicações, histórico ...)</label>
                <input type="text" class="form-control" id="informacoesAdicionais" [(ngModel)]="estratificacao.informacoesAdicionais" />
            </div>
        </div>
    </div>
    <hr>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalInstrucoes">
        Instruções de preenchimento
    </button>
    <h2 class="mt-3 fw-bold">Atenção!</h2>
    Esse instrumento não é um questionário, portanto o profissional não deve perguntar cada item ao usuário e nem
    entregar ao usuário para ele responder.
    <!-- <div class="d-flex align-items-center justify-content-center">
        <input type="radio" class="btn-check" name="versao" id="versao-resumida" autocomplete="off" checked (click)="setResumida(true)">
        <label class="btn btn-outline-success m-3" for="versao-resumida">Versão resumida</label>

        <input type="radio" class="btn-check" name="versao" id="versao-completa" autocomplete="off" (click)="setResumida(false)">
        <label class="btn btn-outline-success m-3" for="versao-completa">Versão completa</label>
    </div> -->
    <hr>
    <ng-container *ngFor="let grupo of estratificacao.grupos; let ig = index;">
        <div class="row border rounded p-1 m-1 mt-2 mb-2"
            [ngClass]="{'grupo-bc-color-1': ig % 2 === 0, 'grupo-bc-color-2': ig % 2 !== 0}">
            <div class="col-12 col-md-2">
                <div class="h-100 w-100 d-flex justify-content-center align-items-center">
                    <span>{{grupo.nome}}</span><i [tooltip]="grupo.detalhes"
                        class="bi bi-question-circle-fill ms-2"></i>
                </div>
            </div>
            <div class="col-12 col-md-10">
                <ng-container *ngFor="let sintoma of grupo.sintomas; let i = index">
                    <div class="row border rounded hover p-2" [ngClass]="{'mt-1': i !== 0}"
                        (click)="sintoma.manifestacao = !sintoma.manifestacao; obterResultado();">
                        <div class="col-9 text-justify">
                            <span>{{estratificacao.resumida ? sintoma.descricaoResumida : sintoma.descricao}}</span><i
                                [tooltip]="sintoma.detalhes" class="bi bi-question-circle-fill ms-2"></i>
                        </div>
                        <div class="col-3">
                            <div class="h-100 w-100 d-flex justify-content-center align-items-center">
                                <div class="form-check form-switch">
                                    <input [(ngModel)]="sintoma.manifestacao" class="form-check-input" type="checkbox"
                                        role="switch" id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">{{sintoma.manifestacao
                                        ? 'sim' : 'não'}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
    <div class="text-justify">
        1 - Caso o usuário apresente ideação suicida com planejamento e com acesso a um método, associado a um
        transtorno mental (especialmente depressão ou abuso de substâncias), desespero, presença de delírio ou
        alucinação ele deverá ser encaminhado imediatamente a serviço de urgência.
    </div>
    <hr>
    <h5>Estratificação</h5>
    <div class="row">
        <div class="col-12 col-md-4">
            <label class="form-label">Pontuação Total</label>
            <div class="border rounded p-2 mt-2 {{estratificacao.css}}">{{estratificacao.total}}</div>
        </div>
        <div class="col-12 col-md-4">
            <label class="form-label">Resultado</label>
            <div class="border rounded p-2 mt-2 {{estratificacao.css}}">{{estratificacao.resultado}}</div>
        </div>
        <div class="col-12 col-md-4">
            <label class="form-label">Direcionamento</label>
            <div class="border rounded p-2 mt-2 {{estratificacao.css}}">{{estratificacao.direcionamento}}</div>
        </div>
    </div>
    <table class="mt-3 table table-bordered">
        <tbody>
            <tr>
                <td class="fw-bold bg-success bg-opacity-10">Condições Especiais</td>
                <td class="bg-success bg-opacity-10">Gestação e maternidade recente (há menos de um ano); grupos
                    vulneráveis (ex: indígena, LGBTQIA+, migrante, pessoa em situação de rua, população exposta a
                    agrotóxicos),deficiência intelectual moderada ou severa.</td>
            </tr>
            <tr>
                <td class="fw-bold bg-success bg-opacity-10">Eventos agudos</td>
                <td class="bg-success bg-opacity-10">Tentativa de suicídio; crise; surto psicótico.</td>
            </tr>
        </tbody>
    </table>
    <div class="col-12 col-md-5">
        <div class="mb-3">
            <label for="local" class="form-label">Local</label>
            <input type="text" class="form-control" id="local" [(ngModel)]="estratificacao.local" />
        </div>
    </div>
    <hr>
    <div class="mb-3 d-flex align-items-center justify-content-between">
        <button type="button" class="btn btn-warning" (click)="limpar()">Limpar</button>
        <button type="button" class="btn btn-primary" (click)="imprimir()">Imprimir</button>
    </div>
</div>
<div class="bg-success bg-opacity-50 p-3"></div>


<div class="modal modal-xl fade" id="modalInstrucoes" tabindex="-1" role="dialog"
    aria-labelledby="modalInstrucoesLabel">
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalInstrucoesLabel">Instruções de preenchimento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>1) Devem ser consideradas as manifestações sintomáticas ocorridas somente nos últimos 12 meses
                </div>
                <div>2) Todos os grupos devem ser preenchidos</div>
                <div>3) Marque com "sim" o sinal/sintoma presente</div>
                <div>4) Realizada preferencialmente pelo profissional de nível superior e vinculada à elaboração do
                    plano de cuidados e/ou ao Projeto Terapêutico Singular</div>
                <div>
                    <div class="fw-bold mt-2">Quem aplica o instrumento?</div>
                    Profissionais de nível superior atuantes em diversos pontos da Rede de Atenção à Saúde (RAS), com
                    ênfase
                    nos profissionais da Atenção Primária à Saúde.
                </div>
                <div>
                    <div class="fw-bold mt-2">A quem se aplica o instrumento?</div>
                    O instrumento é aplicado a usuários que apresentem ou relatem sofrimento mental, necessidades
                    decorrentes do uso de álcool e outras drogas, ou qualquer condição de saúde em que a identificação
                    de
                    risco em saúde mental possa orientar intervenções e trazer benefícios. A avaliação abrange todas as
                    faixas etárias, incluindo crianças, adolescentes, adulto ou idoso.
                </div>
                <div>
                    <div class="fw-bold mt-2">Quando fazer a estratificação?</div>
                    A estratificação deve ser realizada sempre que um usuário da RAS apresente ou relate sofrimento
                    mental,
                    necessidades decorrentes do uso de álcool e outras drogas, ou qualquer condição de saúde em que a
                    identificação do risco em saúde mental possa orientar intervenções e proporcionar benefícios. O
                    instrumento pode ser reaplicado conforme necessário, por exemplo, quando houver mudanças no quadro
                    clínico ou novas queixas relacionadas à saúde.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>