/* You can add global styles to this file, and also import other style files */
/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

.hover{
    background-color: white;
}
.hover:hover{
    background-color: rgb(234, 234, 234);
}

.grupo-bc-color-1{
    background-color: rgb(244, 255, 255);
}

.grupo-bc-color-2{
    background-color: rgb(243, 255, 243);
}

.nav-bg-color{
    background-color: rgb(0, 70, 17);
}

.text-justify{
    text-align: justify;
}

.text-center{
    text-align: center;
}

i.bi {
    font-size: 0.8em;
}

.fs-7{
    font-size: 15px;
}

.fs-8{
    font-size: 12px;
}

.border-top{
    border-top: 1px solid black;
}
